.full-height {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  transition: all 1500ms cubic-bezier(0.42, 0, 0.58, 1); /* ease-in-out */
}

.clear-log-button {
  margin-left: 20px !important;
}
